@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #D01C28;
    --gray: #5A5959;
}

.font-size-24 {
    font-size: 24px;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.mb-36 {
    margin-bottom: 36px;
}

nav {
    height: 72px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 16px;   
    text-transform: uppercase;
    font-weight: 600;
}

nav ul li:hover {   
    cursor: pointer;
    opacity: 0.6;
}

button {
    all: unset;
    background-color: var(--red);
    color: white;
    border: 0 solid;
    padding:  8px 16px;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.hero {
    height: cacl(100vh - 72px);
    margin-top: 85px;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 600px;
}

.hero .hero-content .header {
    font-size: 108px;
    line-height: 1;
}

.hero .hero-content .body {
    width: 404px;
    color: var(--gray)
}

.hero .hero-btn {
    display: flex;
    display: flex;
    gap: 24px;
}

.secondary-btn {
    padding: 8px 12px;
    color: var(--gray);
    border: 1px solid;
    background-color: transparent;
}

.hero .hero-content .shopping {
    color: var(--gray);
    font-size: 16px;
}

.hero .shopping .brand-icons {
    display: flex;
    gap: 24px;
    font-size: 32px;
}

.hero .hero-image img {
    height: 487px;
}